/* my first time applying CSS */

* {
    color:black;
    font-family: Copperplate, Papyrus, Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

img {
    width: 500px;
    height: auto;
}

li {
    color: black;
    font-family:monospace;
    font-size: 11pt;
}

.title {
    color:black;
    font-family: Copperplate, Papyrus, Arial, Helvetica, sans-serif;
    font-size: 24pt;
}

.subtitle {
    color:black;
    font-family: Copperplate, Papyrus, Arial, Helvetica, sans-serif;
    font-size: 16pt;
}

.caption {
    color:black;
    font-family: Copperplate, Papyrus, Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.heading {
    color:black;
    font-family: Copperplate, Papyrus, Arial, Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: bold;
}

.list-padding-adjustment {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 55px;
}

/* Alternative format:

selector {
    padding: 0px 0px 0px 50px;
}

selector {
    padding: 50px 25px 75px;        Shorthand for: 50px left, 75px right, 25px left AND right 
}

*/